<head>
<link rel="stylesheet"  type="text/css" href="./main.css">

</head>
<body>
<h1> Log in Below: </h1><br>

<form action="/sessions" method="POST">

<label> Username: </label>
<input type="text" name="username">

<label> Password: </label>
<input type="password" name="password">

<input type="submit" value="Log In">

</form>
</body>