<head>
<link rel="stylesheet"  type="text/css" href="/stylesheets/welcome.css">

</head>
<body>
<h3> We're sorry. </h3><br> <h4>We don't recognize that username and/or password. <br><br> Please try to log in again with a valid username/password combination or sign up.</h4>
<br><br>
<center> <button><a href="/sessions/login"> <h3> Log In </h3> </a> </button> &nbsp; &nbsp; &nbsp; &nbsp;
<button><a href="/signup">  <h3> Sign Up </h3> </a></button> </center>
<br><br><br>
</body