<body style="background-color:Green;">
<h3> We're sorry. <br> We don't recognize that username and/or password. <br> Please try to log in again with a valid username/password combination or sign up.</h3>

<center> <button><a href="/sessions/login"> <h3> Log In </h3> </a> </button> &nbsp; &nbsp; &nbsp; &nbsp;
<button><a href="/signup">  <h3> Sign Up </h3> </a></button> </center>
<br><br><br>
</body