
<body style="background-color:rgb(19, 230, 212);">
<h1> Sign up using this form and click "Submit"!</h1>

<form action='/registrations' method="POST">

<label>Username:</label>
<input type="text" name="username"/>

<label>Email Address:</label>
<input type="text" name="email"/>

<label>Password:</label>
<input type="password" name="password"/>

<input type="submit" value="  Sign Up  ">
</form>
</body>