<head>
<link rel="stylesheet"  type="text/css" href="./main.css">

</head>
<body>
<h1> Sign up using this form and click "Submit"!</h1>
<br>
<form action='/registrations' method="POST">

<label>Username:</label>
<input type="text" name="username"/>
&nbsp; &nbsp;
<label>Email Address:</label>
<input type="text" name="email"/>
&nbsp; &nbsp;
<label>Password:</label>
<input type="password" name="password"/>

<input type="submit" value="  Sign Up  ">
</form>
</body>