<head>
<link rel="stylesheet"  type="text/css" href="./main.css">

</head>
<body>
<h3> Thank you for signing up! Click "Log In" below to log in. </h3>
<a href="/sessions/login">   Log In  </a>
</body>