<head>
<link rel="stylesheet"  type="text/css" href="./main.css">
</head>
<body>
<h2> Edit Entry Below: </h2>
<form method="POST" action="/foods/<%=@food.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch" />

    <label for="category">Category:</label>
    <input type="text" id="category" name="category" value="<%=@food.category%>" />
    &nbsp; &nbsp;
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%=@food.name%>" />
    &nbsp; &nbsp;
    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity" name="quantity" value="<%=@food.quantity%>" />
    &nbsp; &nbsp;
    <input type="submit" value="Submit" />
</form>
</body>
<footer>
<br>
<br>
<center> <a href="/logout">Log Out</a>  </center>
</footer>