<body style="background-color: rgb(19, 230, 212);">
<h1>Refrigerator Inventory</h1>
<ul>
<% @foods.each do |food| %>
    <li>
        
        <h5> Food Type: <%= food.name %> ---- Quantity: <%= food.quantity %></h5>

    </li>
    
<% end %>

</ul>
<a href="/foods/new">Click here to add more food </a>
</body>