<head>
<link rel="stylesheet"  type="text/css" href="/stylesheets/welcome.css">
<style>
p, h1{
    color: black;
}
</style>
</head>
<body>
<center> <h1> <u>Refrigerator Inventory</u> </h1> </center>
<ul>
<% @foods.each do |food| %>
    <li>
        
        <p> <strong>Item:</strong> <%= food.name %>&nbsp; &nbsp; &nbsp; &nbsp;<strong>Quantity: </strong> <%= food.quantity %></p>

    </li>
    
<% end %>

</ul>
<br><br>
<a href="/foods/new">Click here to add more food </a>
</body>
<footer>
<br>
<br>
<center> <a href="/logout">Log Out</a>  </center>
</footer>