<head>
<style>
    th, td{
        border: 1pt white;
        padding: 1em;
    }
</style>
<link rel="stylesheet"  type="text/css" href="/stylesheets/welcome.css">

</head>

<body>
    <center>
        <table>
            <tr>
                <th> <h3> Category: <%= @food.category %> </h3></th>
                <th> <h3> Name: <%= @food.name %> </h3></th>
                <th><h3>Quantity:<%= @food.quantity %></h3></th>
            </tr>
        </table>
        <h2> Are you sure you want to delete this entry?</h2>

        <form method="POST" action="/foods/<%=@food.id%>">
        <input type="hidden" name="_method" value="DELETE" />
        <input style="font-size: 20px;" type="submit" value="Delete Entry" />
        </form>
        <br><a href="/foods/new">Go Back </a>
    </center>
</body>
<footer>
<br>
<br>
<center> <a href="/logout">Log Out</a>  </center>
</footer>