<body style="background-color:Green;">

<h1> Category: <%= @food.category %></h1>
<h2> Name: <%= @food.name %> </h2>
<h2>Quantity:<%= @food.quantity %></h2>

<form method="POST" action="/foods/<%=@food.id%>">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" value="delete" />
</form>
</body>