<head>
<style>
    table {
        border-collapse: collapse;
    }
    th, td{
        border: 1pt white;
        padding: 1em;
    }

</style>
</head>

<body style="background-color:rgb(19, 230, 212);">

<table>
<tr>
<th> <h3> Category: <%= @food.category %> </h3></th>
<th><h3> Name: <%= @food.name %> </h3></th>
<th><h3>Quantity:<%= @food.quantity %></h3></th>
</tr>
</table>
<center>
<br>
<h1> Are you sure you want to delete this item?</h1>

<form method="POST" action="/foods/<%=@food.id%>">
    <input type="hidden" name="_method" value="DELETE" />
    <h2><input type="submit" value="Delete Item" /></h2></center>
</form>
</body>