<!DOCTYPE html>
<html style="background-color:Green;">

  <head>
  <style>
  img {
    height: 200px;
    width: 200px;
  }
  </style>
  </head>
  <body style="background-color:Green;">

      <header>
        <center><h2>Welcome to the Refrigerator Inventory and Grocery List App!</h2></center>
        <center><img src="https://cdn.pixabay.com/photo/2016/12/07/09/41/refrigerator-1889067__480.jpg"> </center>
        <link rel="stylesheet" href="style.css">
      </header>

          <center><p><i>To get started, click "Sign up" or click "Log In" if you've been here before.</i></p></center>

    <br>
    <br>
    <form method="POST" action="/signup">
      <input type="submit" value="   Sign up   ">
    </form>
    <br>
    <form method="POST" action="/sessions/login">
      <input type="submit" value="   Log In   ">
    </form>
  </body>
</html>